@import '/src/assets/styles/animation';
@import '/src/assets/styles/variables';

.wrapper {
	position: relative;

	button {
		display: flex;
		align-items: center;
		justify-content: end;
		background-color: transparent;
		border: none;
		outline: none;
		cursor: pointer;
		font-size: 18px;
		> svg {
			> path {
				fill: $dark-accent;
			}
		}
	}
	> button {
		font-size: $hb-size;
		> svg {
			animation: opacity 0.8s;
			> path {
				fill: #fff;
			}
		}
	}

	.menu {
		position: absolute;
		top: calc(100% + 8px);
		right: 0;
		background-color: #fff;
		padding: 10px 12px;
		font-size: 18px;
		white-space: nowrap;
		box-shadow: $bx-16;
		border-radius: 10px 0 10px 10px;
		min-width: 116px;
		display: none;
		animation: opacity 0.4s;

		&.show {
			display: block;
		}

		> ul {
			list-style: none;
			a {
				color: #000;
				text-decoration: none;
				transition: color 0.2s ease;

				&.hover,
				&.activate {
					color: $accent;
					margin: 4px 0;
				}
			}
		}
	}
}
